table.signuptable
{
    width: 300px;
    border-collapse: separate;
    border-spacing: 0px;
}
img.signupstep
{
    vertical-align: middle;
}


.signupintrolink
{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-align: right;
}
.signupcongratlink
{
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    text-align: right;
}
.signupcongratlinkheader
{
    font-size: 14px;
    font-weight: bold;
    color: #7F3CA3;
    text-decoration: none;
    text-align: right;
}
.signupbuttonlink
{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}
.signupformheader
{
    font-size: 18px;
    color: #000000;
}
.signupformerror
{
    font-size: 14px;
    color: #FF0000;
    text-align: center;
    position: relative;
    left: 200px;
    top: 360px;
}
.normal
{
    background-color: #E1D4EE;
}
.highlight
{
    background-color: #C6B7D6;
}
.signupinput
{
    border-style: none;
	border-color: -moz-use-text-color;
	border-width: 0px;
background-image: url('/images/signup-input-background.jpg');
    	background-repeat: no-repeat;
    	background-attachment: scroll;
    	background-x-position: 0%;
    	background-y-position: 0%;
    	width: 211px;
    	height: 26px;
    	padding-top: 9px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 7px;
    	margin-left: 0px;
}
a.signup-check
{
    display: block;
    width: 56px;
    height: 52px;
    background: url(/images/signup-check.jpg) 0 0 no-repeat;
    text-decoration: none;
}
a:hover.signup-check
{
    background-position: -56px 0;
}
a.signinerror-link
{
    font-size: 14px;
    color: #000000;
}
a:hover.signinerror-link
{
    color: #FF0000;
}


#signup-main
{
    position: relative;
    left: 13px;
    background-image: url('/images/signup-background.jpg' );
    height: 462px;
    width: 886px;
}
#signup-maincongrat
{
    position: relative;
    left: 13px;
    background-image: url('/images/signup-congratbackground.jpg' );
    height: 462px;
    width: 886px;
}
#signup-horsecircle
{
    position: absolute;
    left: 53px;
    top: 23px;
}
#signup-header
{
    position: absolute;
    left: 95px;
    top: 30px;
    font-size: 24px;
    font-weight: bold;
    width: 600px;
}
#signup-helpfulhints
{
    position: absolute;
    left: 575px;
    top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #813DA4;
}
#signup-helpfulhints2
{
    position: absolute;
    left: 575px;
    top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #813DA4;
}
#signup-passwordhints
{
    position: absolute;
    left: 575px;
    top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #813DA4;
}
#signup-leftboxintro
{
    background-color: #CC99FE;
    position: absolute;
    left: 50px;
    top: 70px;
    width: 300px;
    height: 295px;
    border: solid #7E3DA3;
    padding: 2px;
}
#signup-leftboxintro ul { margin-top: 5px; }
#signup-leftboxstep1
{
    background-color: #CC99FE;
    position: absolute;
    left: 30px;
    top: 15px;
    width: 350px;
    border: solid #7E3DA3;
    padding: 10px;
}
#parent-profiletop
{
	background-color: #CC99FE;
    position: absolute;
    left: 175px;
    top: 15px;
    width: 400px;
    border: solid #7E3DA3;
    padding: 10px;
}
#parent-profilebottom
{
	background-color: #CC99FE;
    position: absolute;
    left: 175px;
    top: 180px;
    width: 400px;
    border: solid #7E3DA3;
    padding: 10px;
}
#signup-leftboxstep2
{
    background-color: #CC99FE;
    position: absolute;
    left: 35px;
    top: 70px;
    width: 325px;
    border: solid #7E3DA3;
    padding: 10px;
}
#signup-leftboxstep3
{
    background-color: #CC99FE;
    position: absolute;
    left: 53px;
    top: 70px;
    width: 400px;
    height: 300px;
    border: solid #7E3DA3;
    padding: 10px;
}
#signup-leftboxparent
{
    background-color: #CC99FE;
    position: absolute;
    left: 53px;
    top: 70px;
    width: 400px;
    height: 200px;
    border: solid #7E3DA3;
    padding: 10px;
}
#signup-leftboxcongrat
{
    background-color: #CC99FE;
    position: absolute;
    left: 20px;
    top: 35px;
    width: 300px;
    height: 100px;
    border: solid #7E3DA3;
    padding: 20px;
}
#signup-questioncircle
{
    position: absolute;
    left: 530px;
    top: 23px;
}
#signup-rightboxheader
{
    position: absolute;
    left: 400px;
    top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #813DA4;
}
#signup-rightboxheadercongrat
{
    position: absolute;
    left: 400px;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
#signup-rightboxstep1
{
    position: absolute;
    left: 350px;
    top: -55px;
    width: 250px;
    height: 290px;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
}
#signup-rightboxstep2
{
    position: absolute;
    left: 530px;
    top: 70px;
    width: 300px;
    height: 330px;
    padding: 0px;
    padding-top: 5px;
    padding-right: 20px;
}
#signup-rightboxstep3
{
    position: absolute;
    left: 530px;
    top: 70px;
    width: 300px;
    height: 330px;
    padding: 0px;
    padding-top: 5px;
    padding-right: 20px;
}
#signup-rightboxcongrats
{
    position: absolute;
    left: 400px;
    top: 30px;
    width: 300px;
    height: 400px;
    padding: 0px;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #813DA4;
    background-color: #E1D4EE;
}
#signup-rightboxcongrats td {
	height: 20px;
}

#signup-rightboxintro
{
    position: absolute;
    left: 510px;
    top: 55px;
    width: 300px;
    height: 315px;
    padding: 0px;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #813DA4;
    background-color: #E1D4EE;
}
.signup-button1
{
    background-image: url(/images/signup-button.png);
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: 350px;
    width: 100px;
    text-align: center;
    padding-top: 12px;
}

.signup-btnimage
{
	background-image: url(/images/signup-button.png);
    background-repeat: no-repeat;
    height: 55px;
    

}
.wordsoverbutton
{
	border-right: 15px;
}
.signup-button
{
    background-image: url(/images/signup-button.png);
    background-repeat: no-repeat;
    position: absolute;
    height:55px;
    width: 137px;
    left: 400px;
    top: 385px;
    text-align: center;
}
.signup-button5
{
    position: absolute;
    height:55px;
    width: 137px;
    left: 400px;
    top: 385px;
    text-align: center;
}
.signup-button:hover
{
	background-image: url(/images/signup-button.jpg);
    background-repeat: no-repeat;
    position: absolute;
    height:55px;
    width: 137px;
    left: 400px;
    top: 385px;
    text-align: center;
}
#logon-button
{
	font-weight: arial;
    font-weight: bold;
    font-size: 23px;
    color: #673570;
    position: absolute; 
    left: 330px; 
    top: 285px; 
    z-index: 1; 
}
#forgot-button
{
	font-weight: arial;
    font-size: 12px;
    color: #673570;
    position: absolute; 
    left: 150px; 
    top: 290px; 
    z-index: 1; 
}
.signup-buttontest1
{    
	position: absolute;
    left: 405px;
    top: 350px;
} 
.signup-button2
{
    background-image: url(/images/signup-check.jpg);
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: 400px;
    height: 54px;
    width: 54px;
    text-align: center;
    padding-top: 12px;
}
.signup-button3
{
    background-image: url(/images/signup-check.jpg);
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    top: 270px;
    height: 54px;
    width: 54px;
    text-align: center;
    padding-top: 12px;
}
#signup-congratbutton
{
    background-image: url('/images/signup-button.gif' );
    background-repeat: no-repeat;
    position: absolute;
    left: 125px;
    top: 225px;
    height: 55px;
    width: 137px;
    text-align: center;
    padding-top: 12px;
}
#signup-introbutton
{
    background-image: url('/images/signup-button.gif' );
    background-repeat: no-repeat;
    position: absolute;
    left: 200px;
    top: 350px;
    height: 55px;
    width: 137px;
    text-align: center;
    padding-top: 12px;
}
#signup-step1
{
    font-size: 18px;
    font-weight: bold;
    color: #813DA4;
    text-align: center;
}
#signup-step2
{

    font-size: 18px;
    font-weight: bold;
    color: #813DA4;
    text-align: center;
}
#signup-step3
{
    position: absolute;
    left: 60px;
    top: 410px;
    width: 400px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #813DA4;
    text-align: center;
}


#signuphints1
{
    list-style-type: disc;
    font-size: 12px;
}

#signuphints2
{
    list-style-type: disc;
    font-size: 12px;
}

#signuphints3
{
    list-style-type: disc;
    font-size: 12px;
}


#signin-body
{
    position: absolute;
    left: 40px;
    top: 100px;
    width: 500px;
    height: 210px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}
#signin-header
{
    color: #000000;
    font-size: 28px;
}

#signinerror-header
{
    color: #ff0000;
    font-size: 24px;
}
#signin-body-text
{
    font-size: 20px;
    font-weight: bold;
}


.signin-button
{
	display: block;
	background: url('/images/signup-button.gif');
	text-decoration: none;
}
#signin-main
{
    position: relative;
    left: 13px;
    background-image: url('/images/signup-background.jpg' );
    height: 462px;
    width: 886px;
}
.signin-check
{
    display: block;
    width: 56px;
    height: 52px;
    background: url('/images/activation-check.gif') 0 0 no-repeat;
    text-decoration: none;
}
.signin-check-hover
{
    display: block;
    width: 56px;
    height: 52px;
    background: url('/images/activation-check.gif') 0 0 no-repeat;
    text-decoration: none;
    background-position: -56px 0;
}

.signininput
{
    border-style: none;
	border-color: -moz-use-text-color;
	border-width: 0px;
	width: 211px;
    	height: 26px;
    	padding-top: 4px;
    	padding-right: 0px;
    	padding-bottom: 0px;
    	padding-left: 7px;
    	margin-left: 0px;
}
.signinerror
{
    font-size: 14px;
    color: #FF0000;
    text-align: center;
    left: 200px;
    top: 360px;
}

#createuser-welcome { font-size: 10pt; }

li.giftitems
{
    list-style-type: disc;
    font-size: 9pt;
}

.giftbox
{
	position: absolute; 
	left: 10px;
}

li
{
    list-style-type: disc;
    font-size: 9pt;
    margin-left: -20px;
}
        .forgot
        {
            font-family: Arial;
            margin-top: -36px; 
            #margin-top:-40px;
            width:100px;
            text-align:center;
            font-size:small;
        }
        .logon
        {
            font-family: Arial;
            font-weight: bold;
            font-size: 18px;
            margin-top: -40px; 
            #margin-top:-45px;
            width:80px;
            text-align:center;
          }
        .logonLoc
        {
            font-family: Arial;
            font-weight: bold;
            font-size: 18px;
            margin-top: -50px; 
            #margin-top:-50px;
            width:80px;
            text-align:center;
          }
        .newuser
        { 
            font-family: Arial;
            margin-top: -36px; 
            #margin-top:-40px;
            width:95px;
            height: 33px;
            text-align:center;
            font-size:small;
        }
        .forgotButtonAlign
        {
            margin-top: 15px; 
            #margin-top:0px;
        }
        .joinButtonAlign
        {
            margin-top: 15px;
            #margin-top: 0px;

        }
        .loginButtonAlign
        {
			margin-top:  0px;
			#margin-top: 0px;
        }
        .loginButtonAlignLoc
        {
			margin-top: 15px;
			#margin-top: 5px;
        }
        .joinLink
        {
            text-decoration: none;
            color: Black;
            font-family: Arial;
            font-size: 13.5px;
        }
        .logonLink
        {
        	text-decoration: none;
            color: Black;
            font-family: Arial;
        }
