/* 
    Document   : local
    Created on : 27-Feb-2012, 09:33:43
    Author     : kyleb2
    Description:
        Local styles only used for this territory
*/


div#global-nav ul li.global-nav-four a.current_nav{
	font-size: 12px;
	padding-top: 55px;
}