1/* LayerSlider Default Skin */

.ls-gpskin {
   /*padding: 5px;
   background: #f7f7f7;
    box-shadow: 0px 3px 15px -5px #000;
    -moz-box-shadow: 0px 3px 15px -5px #000;
    -webkit-box-shadow: 0px 3px 15px -5px #000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;*/
}

.ls-gpskin .ls-bottom-nav-wrapper {
    /* the nav dots ... */
    text-align: center;
    margin: -270px auto 0 50%;
    position: relative;
}

.ls-gpskin .ls-nav-sides,
.ls-gpskin .ls-bottom-slidebuttons a,
.ls-gpskin .ls-nav-prev,
.ls-gpskin .ls-nav-next,
.ls-gpskin .ls-nav-start,
.ls-gpskin .ls-nav-stop {
    background-image: url(skin.png);
    background-repeat: no-repeat;
}

.ls-gpskin .ls-nav-prev {
    background-position: 0px 6px;
}

.ls-gpskin .ls-nav-prev:active {
    background-position: 0 -178px;

}

.ls-gpskin .ls-nav-prev:hover {
    background-position: 0px -79px;
}

.ls-gpskin .ls-nav-next {
    background-position: -150px 6px;
}

.ls-gpskin .ls-nav-next:active {
    background-position: -150px -176px;
}


.ls-gpskin .ls-nav-next:hover {
    background-position: -150px -79px;
}

.ls-gpskin .ls-nav-start {
    background-position: -300px 0px;
}

.ls-gpskin .ls-nav-start:hover {
    background-position: -300px -75px;
}

.ls-gpskin .ls-nav-stop {
    background-position: -450px 0px;
}

.ls-gpskin .ls-nav-stop:hover {
    background-position: -450px -75px;
}

.ls-gpskin .ls-bottom-slidebuttons a {
    background-position: -71px -367px;
}
.ls-gpskin .ls-bottom-slidebuttons a:hover {
    background-position: -151px -367px;
}

.ls-gpskin .ls-bottom-slidebuttons a.ls-nav-active {
    background-position: 4px -367px;
}

.ls-gpskin .ls-nav-sideleft {
    background-position: -150px -150px;
}

.ls-gpskin .ls-nav-sideright {
    background-position: -225px -150px;
}



.ls-gpskin .ls-nav-prev,
.ls-gpskin .ls-nav-next {
    width: 55px;
    height: 81px;
    z-index: 10000;
    top: 50%;
    margin-top: -50px;
    position: absolute;
}

.ls-gpskin .ls-nav-prev {
    
}

.ls-gpskin .ls-nav-next {
    
}


.ls-gpskin .ls-bottom-slidebuttons,
.ls-gpskin .ls-bottom-slidebuttons a,
.ls-gpskin .ls-nav-start,
.ls-gpskin .ls-nav-stop,
.ls-gpskin .ls-bottom-nav-wrapper,
.ls-gpskin .ls-nav-sides {
    height: 35px;
}

.ls-gpskin .ls-bottom-slidebuttons,
.ls-gpskin .ls-bottom-slidebuttons a,
.ls-gpskin .ls-nav-start,
.ls-gpskin .ls-nav-stop,
.ls-gpskin .ls-nav-sides {
    display: inline-block;
}

.ls-gpskin .ls-nav-start,
.ls-gpskin .ls-nav-stop {
    width: 24px;
}

.ls-gpskin .ls-bottom-slidebuttons a {
    width: 34px;
}

.ls-gpskin .ls-nav-sides {
    width: 6px;
    display: none;
}