.store-main
{
    position: relative;
    left: 95px;
	top: -95px;
	width: 910px;
	font-family:Arial Unicode MS;
	font-size:12pt;
	color:#000000;
}

.store-header
{
	font-family:Arial Unicode MS;
	font-size:22pt;
	color:#FFFFFF;
}

.store-subheader
{
	font-family:Arial Unicode MS;
	font-size:14pt;
	color:#FFFFFF;
}

.store-contentheader
{
	font-family:Arial Unicode MS;
	font-size: 16pt;
	color:#000000;
	text-align:center;
}

.store-contentsubheader
{
	font-family:Arial Unicode MS;
	font-size: 14pt;
	color:#000000;
	text-align: center;
}

.store-horseshoesadheader
{
	font-family:Arial Unicode MS;
	font-size:12pt;
	color:#7C4185;
	font-weight:bold;
	text-align:center;
}

.store-purpleheader
{
	font-family:Arial Unicode MS;
	font-size:14pt;
	color:#7C4185;
	font-weight:bold;
}

.store-horseshoesadtext
{
	font-family:Arial Unicode MS;
	font-size:10pt;
	color:#000000;
	text-align:center;
}

.store-cancelbutton
{
	position: relative;
	height: 34px;
	font-size:12pt;
	font-family:Arial Unicode MS;
}

.store-nextbutton
{
	position: relative;
	height: 34px;
	font-size:12pt;
	font-family:Arial Unicode MS;
}

.store-loginbutton
{
	position: relative;
	height: 34px;
	font-size:12pt;
	font-family:Arial Unicode MS;
}

.store-previousbutton
{
	position: relative;
	height: 34px;
	font-size:12pt;
	font-family:Arial Unicode MS;
}

.store-errortext
{
	color: #FF0000;
	font-family:Arial Unicode MS;
	font-size:12pt;
	font-weight:bold;
}

.store-redtext
{
	color:#FF0000;
	font-family:Arial Unicode MS;
}

.store-sslLock
{
	left: 0px;
	position: absolute;
	top: 25px;
}

.store-headerTagLine
{
	left: -20px;
	position: relative;
	top: -70px;
	font-family:Arial Unicode MS;
	font-size:14pt;
	color:#FFFFFF;
	font-style: italic;
	font-weight: normal;
}

.store-capLogo
{
	left: 600px;
	position: absolute;
	top: 0px;
}

.store-container
{
	position: relative;
	width: 910px;
	margin-left: -455px;
    left: 50%;
}

.popup-container
{
	position: relative;
	width: 700px;
	margin-left: -350px;
    left: 50%;
}

.store-faqtable
{
	background-color:#D1C6D4;
	border-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	padding: 7px,7px,7px,7px;
}

.store-contenttable
{
	background-color:#D1C6D4;
	border-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	padding: [7px][7px][7px][7px];
	width:678px;
}

.store-shoppingcartsmall
{
	font-family:Arial Unicode MS;
	font-size:9pt;
	color:#000000;
	text-align:center;
}

.store-shoeAd
{
	width: 192px;
	height: 308px;
	background-image: url(../../images/Ecommerce_home_ad.png);
	border-bottom-style: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.store-scrollbox
{
	width:550px;
	height:350px;
	position:relative;
	overflow:auto;
	left: 0px;
	top: 0px;
	padding:20px;
	text-align:left;
	scrollbar-face-color: #a755d0;
	scrollbar-arrow-color: #ffffff;
	scrollbar-track-color: #ca92ee;
	scrollbar-shadow-color: #531566;
	scrollbar-highlight-color: #a755d0;
	scrollbar-3dlight-color: #a755d0;
	scrollbar-darkshadow-Color: #ca92ee;
	background-color:#D1C6D4;
	border-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
}

.store-leftleaf
{
	padding-right:4px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	vertical-align:top;
	text-align:right;
}

.store-rightleaf
{
	padding-left:4px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:0px;
	vertical-align:top;
	text-align:left;
}

.store-overallwidth
{
	border:0;
	width:808px;
}