.module-tableOfObjects2 {
	line-height: 1.25;
	overflow: hidden;
}

.module-tableOfObjects2 h3.title {
    background-color: black;
	background-image: -moz-linear-gradient(top, #444444, #000000);
	background-image: -o-linear-gradient(top, #444444, #000000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #444444),color-stop(1, #000000));
	background-image: -webkit-linear-gradient(#444444, #000000);
	background-image: -ms-linear-gradient(top, #444444, #000000);
	background-image: linear-gradient(top, #444444, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#000000');
	-moz-box-shadow: 0 1px 2px #777777;
	-webkit-box-shadow: 0 1px 2px #777777;
	box-shadow: 0 1px 2px #777777;
	color: #FFFFFF;
    height: auto;
    line-height: 16px;
    margin-bottom: 0;
    padding-bottom: 4px;
    padding-top: 2px;
	position: relative;
    z-index: 3;
}
.too2-greentitle h3.title {
	background-color: #2d8a23;
	background-image: -moz-linear-gradient(top, #2d8a23, #175c10);
	background-image: -o-linear-gradient(top, #2d8a23, #175c10);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2d8a23),color-stop(1, #175c10));
	background-image: -webkit-linear-gradient(#2d8a23, #175c10);
	background-image: -ms-linear-gradient(#2d8a23, #175c10);
	background-image: linear-gradient(top, #2d8a23, #175c10);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2d8a23', EndColorStr='#175c10');
	border: 1px solid #143709;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
}


		
.module-tableOfObjects2 table.too2-objects {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
}
.module-tableOfObjects2 table.too2-objects td {
	padding-left: 5px;
	vertical-align: top;
}
.module-tableOfObjects2 a {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}
.module-tableOfObjects2 div.too2-item {
	min-height: 1%;
	position: relative;
}
.module-tableOfObjects2 img {
	display: block;
}
.module-tableOfObjects2 a span.too2-overlay {
	background: url('../images/tableOfObjects/too2-overlay.png') 50% 50% no-repeat;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;	
	width: 100%;
}
.module-tableOfObjects2 a:hover span.too2-overlay {
	opacity: .3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}
.module-tableOfObjects2 .too2-foot {
	padding-bottom: 4px;
}



.too2-silverWrap {
	background-color: #ffffff;
	background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4);
	background-image: -o-linear-gradient(top, #ffffff, #e4e4e4);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #e4e4e4));
	background-image: -webkit-linear-gradient(#ffffff, #e4e4e4);
	background-image: -ms-linear-gradient(#ffffff, #e4e4e4);
	background-image: linear-gradient(top, #ffffff, #e4e4e4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e4e4e4');
	border: 1px solid #d7d7d7;
	border-top: 0;
	min-height: 100%;
	padding: 0 9px;
	padding: 9px 9px 4px;
}
.too2-noBorder {
	padding: 10px;
	border: none;
}
.too2-blackWrap {
	background-image: url('../images/tableOfObjects/too2-black-bg.gif');	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: black;
	border: 1px solid black;
	color: white;
	padding: 10px 9px 0;
}
.too2-blackWrap a {
	color: white;
}
.too2-blackWrap {
	margin-top: 6px;
}
.too2-greentitle .too2-blackWrap {
	margin-top: 0;
}


.too2-blackWrap .too2-item img {
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}


.too2-right {
	text-align: right;
}


/* 3-1 black */

.module-tableOfObjects2.layout-3-1 td {
	padding: 0 0 10px 6px;
}
.module-tableOfObjects2.layout-3-1 td:first-child {
	padding-left: 0;
}


/* generic */

.module-tableOfObjects2.layout-generic td {
	padding: 0 5px 10px 0;
	width: 78px;
}
.module-tableOfObjects2.layout-generic td:first-child {
	padding-left: 0;
}
.module-tableOfObjects2.layout-generic .too2-item img {
	-moz-box-shadow:  2px 2px 2px #999;
	-webkit-box-shadow:  2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
}
.module-tableOfObjects2.layout-generic .too2-description {
	margin-top: 10px;
}
.module-tableOfObjects2.layout-generic .too2-description .title {
	font-weight: bold;
	display: block;
}

/* box-shadow none */

.module-tableOfObjects2.layout-generic.noshadow .too2-item img {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


/* generic-rightdesc */

.module-tableOfObjects2.layout-generic.rightdesc td {
	padding: 0 0 10px 0;
	width: 164px;
}

.module-tableOfObjects2.layout-generic.rightdesc .too2-item {
	float: left;
	margin-right: 10px;
	width: 72px;
}
.module-tableOfObjects2.layout-generic.rightdesc .too2-description {
	float: left;
	margin-top: 0;
	overflow: hidden;
	padding-right: 10px;
	width: 72px;
}

.g3 .module-tableOfObjects2.layout-generic.rightdesc .too2-description {
	padding-right: 5px;
	width: 58px;
}
