/* This CSS file is created for you to create or override any of the existing CSS styles used in this theme */
.front-game-item{text-align:center;}
.new_game_home{ float: left;
    height: 100px;
    text-align: center;
    width: 94px;}
#index-news{float:left;}