/*!CK:2637101356!*//*1383661154,178146347*/

body.contact_importer{background-color:transparent}
div.file_help{padding:10px;border:1px solid #ccc;background:#fcfcfc;margin-top:6px;margin-bottom:6px}
.fh_title{font-size:11px}
div.fh_sect{margin:4px}
div.fh_instr{margin:3px 3px 0 0;padding:6px}
.warning_page #content p{line-height:19px;font-size:13px;margin-bottom:0}
div.hidden{display:none}
.auto_resize_iframe input.inputcancel{margin-left:10px}

#bootloader_eVUbl { height: 42px; }
.bootloader_eVUbl { display:block !important; }