/* Bella Sara Base CSS */


/* housekeeping */

body, html, form
{
	margin:0;
	padding:0;
	scrollbar-face-color:#a755d0;
	scrollbar-arrow-color:#ffffff;
	scrollbar-track-color:#ca92ee;
	scrollbar-shadow-color:#531566;
	scrollbar-highlight-color:#a755d0;
	scrollbar-3dlight-color:#a755d0;
	scrollbar-darkshadow-Color:#ca92ee;

}
a img{border:0;}

/* global items */

body {
	background-color: #202b57;
	background-image: url(../../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: top left;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}

table {
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
#wrapper {
	margin:0 auto;
	width:1065px;
	height:682px;
	padding:0;
	position:relative;
	background:url(../../images/sunset.jpg) top left no-repeat;
	}
	
a {
	color:#FA5FC0;
	text-decoration:none;
	font-weight:bold;
	}
	
	a:hover, a:active {
		text-decoration:underline;
		}
	
	a:visited {
		color:#FA5FC0;
		}
		
h2 {
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color: #FA5FC0;
}	

input {background:transparent;border:0;}	

p {
	margin: 0;
	padding: 0 0 12px 0;
}

address {
	margin: 0 !important;
	padding: 0 !important;
}
	

div.hr hr {
	display: none;
}

div.hr {
	margin-right: 15px;
	margin-left: 15px;
	height: 10px;
	border-top: 1px solid #E531A1;
	margin-top: 10px;
}
	
		
.clear {
	clear:both;
	}
	
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#ffffff;
	}
	
	h1 a {
		color: #fff !important;
	}
	
/* header items */

#header {
	position: relative;
	height: 129px;
	width: 886px;
	left: -10px;
	text-align: left;
	background-image: url(../../images/header-bg.jpg);
	background-repeat: no-repeat;
	z-index: 10;
}

#header #nav-bg {
	background-position: 0px 75px;
	background-image: url(../../images/nav-bg.gif);
	background-repeat: no-repeat;
	height: 110px;
}

#header #logo {
	position: absolute;
	z-index: 200;
	top: 1px;
	left: -45px;
	display: block;
}

#header #topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 813px;
	height: 1px;
	position: absolute;
	left: 0;
	top: 75px;
	z-index: 190;
}

#topnav li img {
	display: block;
}

#topnav li {
	position: absolute;
	top: 8px;
	z-index: 205;
	background-repeat: no-repeat;
	background-position: right 2px;
	background-image: url(../../images/nav-divider.gif);
}

#topnav li#nav-ranch {
	left: 58px;
	width: 70px;
}

#topnav li#nav-cards {
	left: 156px;
	width: 73px;
}

#topnav li#nav-games {
	left: 256px;
	width: 75px;
}

#topnav li#nav-world {
	left: 355px;
	width: 71px;
}

#topnav li#nav-community {
	left: 450px;
	width: 103px;
}

#topnav li#nav-shop {
	left: 581px;
	background-image: none;
}

#topnav li#nav-activate {
	left: 652px;
	background-image: none;
}


#nav-activate-box {
	background-color: #1c1ca4;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	width: 118px;
	padding: 3px 5px;
	position: absolute;
	top: -5px;
}

#nav-activate-go {
	position: absolute;
	left: 134px;
	top: -2px;
}

#current-horse {
	background-image: url(../../images/current-horse-bg.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 812px;
	width: 79px;
	height: 123px;
	text-align: center;
	z-index: 201;
}

#current-horse img {
	display: block;
	margin-right: 12px;
	margin-left: 11px;
	margin-top: 10px;
}

#current-horse p {
	margin: 0;
	padding: 3px 9px 0px 7px;
	font-size: 11px;
	font-weight: bold;
}

#current-horse a {
	color: #fff;
}

#top-banner {
	width: 886px;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 190;
	text-align: center;
}

#top-banner img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#whos-logged {
	position: absolute;
	top: 111px;
	left: 8px;
	color: #ff81d0;
	font-size: 12px;
}

#whos-logged a {
	font-weight: normal;
	color: #ff81d0;
	text-decoration: underline;
	font-size:10px;
	padding: 0 1px;
}

#whos-logged a.signout {
	padding-left: 15px;
}

/* Subnav styles */
#subnav {
	position: absolute;
	top: 80px;
	left: 35px;
	z-index: 180;
	width: 750px;
}

#subnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	width: 200px;
	height: 200px;
	background-image:url(../../images/ie-bg-hack.gif);
	position: absolute;
	top: 0;
}

#subnav li {
	width: 189px;
	margin-left: 5px;
}

#sub-ranch {
	left: 0;
}

#sub-cards {
	left: 93px;
}

#sub-games {
	left: 194px;
}

#sub-community {
	left: 391px;
}

#sub-shop {
	left: 518px;
}

#subnav img.navon {
	height: 27px;
	display: block;
}

#sub-ranch img.navon {
	width: 91px;
}

#sub-cards img.navon {
	width: 99px;
}

#sub-games img.navon {
	width: 100px;
}

#sub-community img.navon {
	width: 125px;
}

#sub-shop img.navon {
	width: 93px;
}


#subnav ul div {
	background-image: url(../../images/sub-bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 0 0 10px 0;
}

#subnav a {
	display: block;
	padding: 4px 6px;
	margin: 0;
	color: #fff !important;
	font-size: 13px;
	width: 177px;
}

#subnav a:hover {
	text-decoration: none;
	background-color: #7575E8;
}


	
/* homepage specific items */


#content-homepage {
	position:absolute;
	background:url(../../images/home-bg.jpg) top right no-repeat;
	width:964px;
	height:418px;
	left: 14px;
	top: 129px;
	z-index:1;
	}
	
#content-homepage-bottom {
	position:absolute;
	background:url(../../images/home-bottomsection.jpg) top left no-repeat;
	width:898px;
	height:127px;
	left: 73px;
	top: 537px;
}	
	#homepage-login-box {
	width:210px;
	height:100px;
	position:absolute;
	left: 728px;
	top: 20px;
	}
	
		input.input {
		border:0;
		position:absolute;
		width:148px;
		background:transparent;
		position:absolute;
		height: 20px;
		color:#52499c;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		}
		
		input.username {
		left: 27px; 
		top: 9px;
		}
		
		input.password {
		left: 27px; 
		top: 39px;
		}
		
		input.button-login {
		position:absolute;
		left: 10px;
		top: 64px;
		width:81px;
		height:35px;
		}
		
		#home-login input.sbox {
	color: #80808C;
	height: 18px; 
	width: 160px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	position:absolute;

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
	}
		
	#home-login .srchimgs {margin-bottom: 1px;position:absolute;} 
	html>body #home-login .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#home-login input {font-size: 12px} 
		html>body*#home-login .srchimgs {display: none;} 
		html>body*#home-login input.sbox {width: 180px;height:20px;left:15px;} 
	/**/
		
#homepage-already-logged {
	width:170px;
	height:90px;
	position:absolute;
	left: 743px;
	top: 35px;
	text-align: left;
	font-size: 15px;
}

#homepage-already-logged a {
	color: #fff;
}
	
	
	
/* homepage activation box styles */ 
 
#home-go-star {
	position: absolute;
	top: 296px;
	left: 308px;
}


/* internal page items */

#content-internalpage {
	position:absolute;
	background:url(../../images/internal-bg-blank.jpg) top right no-repeat;
	width:964px;
	height:535px;
	left: 14px;
	top: 129px;
	z-index:1;
	}
	
/* page specific items */

	#generic-login-box {
	width:210px;
	height:100px;
	position:absolute;
	left: 624px;
	top: 241px;
	}
	
		#generic-login input.sbox {
		color: #80808C;
		height: 18px; 
		width: 160px; 
		border: 0; 
		background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
		padding:3px 0 2px 0;
		position:absolute;
	
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#d60487;
		height:13px;
		text-align:left;
		}
			
		#generic-login .srchimgs {margin-bottom: 1px;position:absolute;} 
		html>body #generic-login .srchimgs {margin-bottom: 0;} 
		/*\*/ 
			html>body*#generic-login input {font-size: 12px} 
			html>body*#generic-login .srchimgs {display: none;} 
			html>body*#generic-login input.sbox {width: 183px;height:20px;left:14px;} 
		/**/
	
	#forgot {
		color: #fff;
		position: absolute;
		top: 98px;
		left: 0;
		width: 213px;
		display: block;
		text-align: center;
	}
	
	.forgot-box {
		position: absolute;
		left: 0;
		top: 35px;
	}
	
	#forgot-button {
		position: absolute;
		top: 75px;
		left: 23px;
	}
	
	
	#contest-box {}
	
	#news-box {
	width:640px;
	height:462px;
	position:relative;
	overflow:auto;
	left: 144px;
	top: 39px;
	}
	
		#news-box .news-item {
		text-align:left;
		line-height:20px;
		font-size:14px;
		width:380px;
		float:left;
		margin:10px 0;
		position:relative;
		}
		
		#news-box .news-image {
		float:left;
		margin:30px;
		position:relative;
		}
		
		h2.news-date {
		font-size:16px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
		}
	
	ul#newsarchives {
		display:block;
		line-height:20px;
		text-align:left;
		}
	
	#about-box {
	width:480px;
	height:420px;
	position:relative;
	overflow:auto;
	left: 202px;
	top: 38px;
	padding:20px;
	text-align:left;
	}
	
		#about-box p, .main-shop-box p, .thanks-box p {
		text-align:left;
		line-height:20px;
		font-size:14px;
		}
#generic-box {
	width:480px;
	height:420px;
	position:relative;
	overflow:auto;
	left: 202px;
	top: 38px;
	padding:20px;
	text-align:left;
	}
	
#contests-box {
	width:580px;
	height:420px;
	position:relative;
	overflow:auto;
	left: 152px;
	top: 38px;
	padding:20px;
	text-align:left;
	}
	
#energy-box {
	width:350px;
	height:420px;
	position:relative;
	overflow:auto;
	left: 267px;
	top: 58px;
	padding:20px;
	text-align:left;
	}
	
	.shoppingcart-box {
	position:absolute; 
	width:181px; 
	height:335px; 
	left: 98px; 
	top: 161px;
	overflow:auto;
	text-align:left;
	}
	
	.main-shop-box {
	position:absolute; 
	width:600px; 
	height:422px; 
	left: 305px; 
	top: 38px;
	overflow:auto;
	text-align:left;
	padding:20px;
	}
	
	
	table.shop-item {
	margin:10px 0;
	}
	
	p.shop-price {
	font-size:16px;
	font-weight:bold;
	text-align:right;
	width:150px;
	}
	
	input.cart-quantity {
	padding:3px;
	color:#ffffff;
	font-size:12px;
	background:url(../../images/shop-quantity-bg.jpg);
	border:0;
	width:30px;
	height:15px;
	margin:0 0 0 10px;
	}
	
	h1.shopheader {
	font-size:16px;
	font-weight:bold;
	}
	
	img.shop-image {
	position:relative;
	}
	
	input.storefinder {
		padding:3px;
		color:#ffffff;
		font-size:12px;
		background:url(../../images/shop-quantity-bg.jpg);
		border:0;
		width:100px;
		height:15px;
		margin:0;
		}
	
#pcontrol-login {
	position:absolute;
	top:240px;
	left:390px;
	}
        .pcontrol-errors {
            position:absolute;
            top:-30px;
            left:-30px;
            width:300px;
        }

	#pcontrol-login .button-login {
		position:absolute;
		left:150px;
		top:70px;
		}
	
	#pcontrol-login input.sbox {
	color: #80808C;
	height: 18px; 
	width: 210px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	position:absolute;

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
	}
		
	#pcontrol-login .srchimgs {margin-bottom: 1px;position:absolute;} 
	html>body #pcontrol-login .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#pcontrol-login input {font-size: 12px} 
		html>body*#pcontrol-login .srchimgs {display: none;} 
		html>body*#pcontrol-login input.sbox {width: 220px;height:24px;left:5px;} 
	/**/
	
	.pcontrol-username {
		position:absolute;
		top:0;
		left:12px;
		}
	
	.pcontrol-pass {
		position:absolute;
		top:30px;
		left:12px;
		}
	
	
	#pcontrol-main input.sbox {
	color: #80808C;
	height: 18px; 
	width: 150px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
	}
		
	#pcontrol-main .srchimgs {margin-bottom: 1px;position:absolute;} 
	html>body #pcontrol-main .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#pcontrol-main input {font-size: 12px} 
		html>body*#pcontrol-main .srchimgs {display: none;} 
		html>body*#pcontrol-main input.sbox {width: 160px;height:24px;} 
	/**/
	
	
#pcontrol-main-email {
	position:absolute;
	top:147px;
	left:270px;
	}
	
#pcontrol-main-password {
	position:absolute;
	top:205px;
	left:270px;	
	}

#pcontrol-child-email {
	position:absolute;
	top:147px;
	left:720px;
	}
	
#pcontrol-child-password {
	position:absolute;
	top:205px;
	left:720px;
	}
	
#pcontrol-child-time {
	position:absolute;
	top:258px;
	left:750px;
	}
	
#pcontrol-child-msg {
	position:absolute;
	top:305px;
	left:750px;
	}
	
#pcontrol-child-dis {
	position:absolute;
	top:365px;
	left:750px;
	}
	
/* profile page items */

#profile-edit input.sbox {
	color: #80808C;
	height: 18px; 
	width: 160px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	position:absolute;

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
	}
		
	#profile-edit .srchimgs {margin-bottom: 1px;position:absolute;} 
	html>body #profile-edit .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#profile-edit input {font-size: 12px} 
		html>body*#profile-edit .srchimgs {display: none;} 
		html>body*#profile-edit input.sbox {width: 180px;height:20px;left:15px;} 
	/**/	
	
	
#profile-image-box	{
	width:220px;
	height:364px;
	overflow:auto;
	position:absolute;
	top:126px;
	left:92px;
	padding:10px 0;
	}
	
	#profile-image-box img {
		margin:10px;
		}
	
#profile-edit-image	{
	position:absolute;
	top:65px;
	left:350px;
	text-align:center;
	}
	
#profile-edit-name {
	position:absolute;
	left:600px;
	top:65px;
	}
	
#profile-edit-email {
	position:absolute;
	left:600px;
	top:107px;
	}
	
#profile-edit-password {
	position:absolute;
	left:600px;
	top:152px;
	}
	
#profile-edit-birthday {
	position:absolute;
	left:600px;
	top:194px;
	}
	
#profile-edit-friendcode {
	position:absolute;
	top:262px;
	left:840px
	}
	
#profile-edit-about {
	width:560px;
	height:170px;
	background:#ffffff;
	overflow:auto;
	position:absolute;
	top:285px;
	left:350px;
	border:0;
	}
	
#profile-edit-button-reset	{
	position:absolute;
	top:466px;
	left:720px;
	}
	
#profile-edit-button-save {
	position:absolute;
	top:466px;
	left:830px;
	}

#profile-image {
	position:absolute;
	top:95px;
	left:350px;
	text-align:center;
	}
	
/* friends page items */	

	a.friend-list-link {
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
	display:block;
	margin:5px;
	}
		
	div.message-box {
	position:absolute; 
	width:376px; 
	height:440px; 
	left: 572px; 
	top: 64px;
	overflow:auto;
	text-align:center;
	z-index:2;
	}
	
		img.message-button {
		margin:0 5px;
		}
	
	div.message-new, div.message-read {
	width:312px;
	height:102px;
	margin:20px auto;
	text-align:left;
	padding:10px;
	}
	
		div.message-new p, div.message-read p {
		color:#ffffff;
		font-size:12px;
		height:42px;
		line-height:14px;
		overflow:hidden;
		margin:3px 0;
		}
		
		div.message-new h1, div.message-read h1 {
		font-size:12px;
		color:#ffffff;
		font-weight:bold;
		margin:0;
		}	

	
	div.message-new {
	background:url(../../images/message-bg-new.gif) top left no-repeat;
	}
	
	div.message-read {
	background:url(../../images/message-bg.gif) top left no-repeat;
	}
	 	
		
	#add-friend input.sbox {
	color: #80808C;
	height: 18px; 
	width: 170px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
	}
		
	#add-friend .srchimgs {margin-bottom: 1px;position:absolute;} 
	html>body #add-friend .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#add-friend input {font-size: 12px} 
		html>body*#add-friend .srchimgs {display: none;} 
		html>body*#add-friend input.sbox {width: 190px;height:24px;} 
	/**/

		
/* footer items */

#footer {
	position:absolute;
	left:84px;
	bottom:10px;
	margin:0 auto;
	width:890px;
	height:70px;
	top: 676px;
	}
	
	#logos-copyright {
		position: absolute;
		left: 0px;
		top: 0;
		width: 435px;
		text-align: left;
		font-size: 10px;
		line-height: 11px;
	}
	
	#logos-copyright a {
		margin-right: 11px;
		float: left;
		display: block;
	}
	
	#footer-slug {
		text-align:right;
		font-size:10px;
		color:#ffffff;
		font-family:Arial, Helvetica, sans-serif;
		line-height:20px;
		}
		
		#footer-slug a {
		text-decoration:none;
		color:#ffffff;
		}
		
		#footer-slug a:hover {
		text-decoration:underline;
		}

#activate {
	background:url(../../images/activate-footer-bg.jpg) top left no-repeat;
	width:250px;
	height:68px;
	position:absolute;
	left: 4px;
	top: -3px;
	}
	
#activate-page-text {
	position:absolute;
	top:70px;
	right:3px;
	width:455px;
	height:421px;
	overflow:auto;
	text-align:left;
	padding:10px;
}

#activate-page-activate {
	position: absolute;
	top: 295px;
	left: 610px;
	margin: 0;
	padding: 0;
	width: 230px;
}


#activate-page-activate .sbox {
	color: #80808C;
	height: 18px; 
	width: 130px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
}

#activate-page-activate label {
	display: block;
	text-align: left;
	padding: 12px 0 5px 0;
	text-align: center;
}

#activate-page-activate select {
	width: 156px;
	padding: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	border: 1px solid #d60487;
}

#activate-page-activate .gobutton-activatepage {
	position: absolute;
	top: 95px;
	left: 65px;
}

#activate-page-activate .srchimgs {margin-bottom: 1px;} 
	html>body #activate-page-activate .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#activate-page-activate input {font-size: 12px} 
		html>body*#activate-page-activate .srchimgs {display: none;} 
		html>body*#activate-page-activate input.sbox {width: 149px;height:20px;left:36px;top:25px;} 
	/**/
	
	
	#footer .activate {
	position:absolute;
	background:transparent;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	width:150px;
	left:45px;
	top:29px;
	}
	
	#footer-activate input.sbox {
	color: #80808C;
	height: 18px; 
	width: 130px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	position:absolute;

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
	}
		
	#footer-activate .srchimgs {margin-bottom: 1px;position:absolute;} 
	html>body #footer-activate .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#footer-activate input {font-size: 12px} 
		html>body*#footer-activate .srchimgs {display: none;} 
		html>body*#footer-activate input.sbox {width: 149px;height:20px;left:36px;top:25px;} 
	/**/
	
	
	
	#footer .gobutton-footer {
	position:absolute;
	bottom:0;
	left:184px;
	width:66px;
	height:68px;
	top:0px;
	}

	
	
	
	
	#energy-activate input.sbox {
	color: #80808C;
	height: 18px; 
	width: 130px; 
	border: 0; 
	background: white url(../../images/searchfield_bg.jpg) repeat-x left top;
	padding:3px 0 2px 0;
	

	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d60487;
	height:13px;
	text-align:left;
	}
		
	#energy-activate .srchimgs {
		margin-bottom: 0px;
		_border-bottom: 1px solid #970F9D;
	} 
	html>body #footer-activate .srchimgs {margin-bottom: 0;} 
	/*\*/ 
		html>body*#footer-activate input {font-size: 12px} 
		html>body*#footer-activate .srchimgs {display: none;} 
		html>body*#footer-activate input.sbox {width: 149px;height:20px;left:36px;top:25px;} 
	/**/
	
	.energy-bttn {
		margin-bottom: -20px;
	}
	
/* Error Box Rules */
.error-box {
	width: 305px;
	position: absolute;
	left: -350px;
	top: -75px;
	display: block;
}

.error-arrow {
	width: 41px;
	position: absolute;
	top: 41px;
	left: 300px;
	display: block;
}

.error-top {
	background-image: url(../../images/error-top.png);
	background-repeat: no-repeat;
	background-position: left top;
	height:41px;
	width: 305px;
	display: block;
}

.error-main {
	background-image: url(../../images/error-bg.png);
	background-repeat: repeat-y;
	background-position: left top;
	padding: 0 25px !important;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	width: 255px;
	display: block;
}

.error-main h1 {
	font-size: 20px;
	color: #fff;
	margin: 0px 0 -10px 0;
	padding: 0px 0 0px 0px;
	text-align: left;
	position: relative;
	top: -20px;
}

.error-main ul {
	margin: 0;
	padding: 10px 15px 10px 30px;
}

.error-main li {
	padding-bottom: 5px;
}

.error-bottom {
	background-image: url(../../images/error-bottom.png);
	background-repeat: no-repeat;
	background-position: left top;
	height:47px;
	width: 305px;
	display: block;
}

.shop-link
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height: 150%
}
	
/* SAFARI HAXORZ */

input.input {
		border:0;
		position:absolute;
		width:148px;
		background:transparent;
		position:absolute;
		height: 24px;
		color:#52499c;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		#}
		
#nav-activate-box {
	top: -1px;
}




